{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <h1> <b>Portfolio</b> </h1>
        <table class=table>
            <tr class=header>
                <td>Symbol</td><td>Shares</td><td>Price</td><td>Value</td>
            </tr>
            {% for row in rows %}
            <tr>

                <td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td>

            </tr>
             {% endfor %}
             <tr>
                 <td></td><td></td><td class=header>Cash:</td><td>{{ cashOnHand }}</td>
             </tr>
             <tr>
                 <td></td><td></td><td class=header>Grand Total:</td><td>{{ grandTotal }}</td>
             </tr>
        </table>

{% endblock %}